
a2wsgi
aiosmtplib
aiosqlite
alembic
annotated-types
anyio
argcomplete
asgiref
attrs
boto3
botocore
certifi
cffi
charset-normalizer
click
colorlog
cron_descriptor
croniter
cryptography
Deprecated
dill
dnspython
email-validator
fastapi
fsspec
google_search_results
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
idna
importlib_metadata
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
lazy-object-proxy
lockfile
Mako
markdown-it-py
MarkupSafe
mdurl
more-itertools
msgspec
natsort
opentelemetry-api
opentelemetry-sdk
packaging
pathspec
pendulum
pluggy
protobuf
psutil
pycparser
pydantic
pydantic_core
Pygments
pygtrie
PyJWT
# pyspark  <-- removed (Spark is shipped in the image)
python-daemon
python-dateutil
python-dotenv
python-multipart
python-slugify
pytz
PyYAML
referencing
requests
rich
rich-argparse
rpds-py
s3transfer
setproctitle
six
sniffio
SQLAlchemy
SQLAlchemy-Utils
sqlparse
starlette
tabulate
tenacity
termcolor
text-unidecode
typer
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
wrapt
zipp
pandas
numpy
requests
python-dateutil
psycopg2-binary
pyarrow
dotenv
loguru
apache-airflow-providers-apache-spark
